@import "../bootstrap/less/bootstrap.less";

@dark-gray: #111;
@light-gray : #DDD;
@almost-white: #F7F7F7;
@margin-medium: 50px;

a {
color: #777;
}

a:hover {
	color: #AAA;
	}


body {
	font-family: lato, Helvetica, Arial, sans-serif;
	background-color: @almost-white;
	color: @dark-gray;
}


.container {
}

.film-title {
	font-weight: bold;
	margin-top: 0.5em !important;
}

.title {
	margin-top: 20px;
	margin-bottom: 20px;
	}

.title img {
	width: 800px;
	height: auto;
	}

.section-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.5em !important;
	text-transform: uppercase;
}

.js-video {

  height: 0;
  padding-bottom: 56.2%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.menu.affix {
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 10px 0px;
	margin: 0px;
	z-index: 10;
	border-bottom: 1px solid @light-gray;
}

.menu {
	background-color: @almost-white;
	text-align: center;
	overflow: auto;
	margin-bottom: @margin-medium;
}

.menu-item {
	display: inline-block;
	}

.menu-item img  {
	height: 20px;
	width: auto;
	}

.menu-item:not(:first-child) {
	padding-left: 20px;
	}

.menu .crown {
width: 20px;
height: 20px;
margin-left: -20px;
float: left;
}

.section-title {
	text-align: center;
	margin-bottom: 20px;
}

.row-narrow {
	.make-md-column-offset(3);
	.make-md-column(6);
	}

.row-wide {
	.make-md-column(12);
}

.section {
	margin-bottom: 30px;
	}

#section-copyright {
	margin-bottom: 20px;
	margin-top: 50px;
	font-size: 0.8em;
	text-align: center;
}

.visuals-images {
	text-align: center;
}

.visuals-images img {
	display: inline-block;
	margin-bottom: 10px;
	}
